# This file contains pin mappings for the Creality CR-10S Pro V2. To use
# this config, the firmware should be compiled for the AVR atmega2560.

# See docs/Config_Reference.md for a description of parameters.

[include fluidd.cfg]

[include start_print.cfg]

[include end_print.cfg]

[exclude_object]

[include bed_screws.cfg]

[include bed_mesh.cfg]

[include filament_runout.cfg]


[include text.cfg]

## General Config
[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AB0KEDJN-if00-port0

[temperature_sensor raspberry_pi_4B]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 10
max_z_accel: 100

## Stepper Motors and Extruder
[stepper_x]
step_pin: PF0 #ar54
dir_pin: PF1 #ar55
enable_pin: !PD7 #!ar38
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PE5 #^ar3
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 50
homing_retract_dist: 5

[stepper_y]
step_pin: PF6 #ar60
dir_pin: !PF7 #ar61
enable_pin: !PF2 #!ar56
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PJ1 #^ar14
position_endstop: 0
position_min: 0
position_max: 310
homing_speed: 50
homing_retract_dist: 5

[stepper_z]
step_pin: PL3 #ar46
dir_pin: !PL1 #!ar48
enable_pin: !PK0 #!ar62
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 363 # you can go higher but then the cables crimp

[extruder]
step_pin: PA4 # ar26
dir_pin: PA6 # !ar28
enable_pin: !PA2 # !ar24
rotation_distance: 22.900
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 70.0
max_extrude_only_accel: 1000.0
heater_pin: PB4 #ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5 #analog13
#control: pid #calibrated in Klipper, you will need to run this for your machine
#pid_kp: 28.359
#pid_ki: 1.616
#pid_kd: 124.426
min_extrude_temp: 170
min_temp: 5
max_temp: 275

[fan]
pin: PH6 #ar9

[heater_bed]
heater_pin: PH5 #ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6 #analog14
#control: pid #calibrated in Klipper, you will need to run this for your machine
#pid_kp: 70.936
#pid_ki: 1.151
#pid_kd: 1093.298
min_temp: 5
max_temp: 140

[bltouch]
sensor_pin: ^PD3
control_pin: PB5
stow_on_each_sample: False # Be careful
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: false
x_offset: -28
y_offset: -2
#z_offset: 0 # you will need to calibrate this in Klipper
speed: 4.0
samples: 2
sample_retract_dist: 3.0

[safe_z_home]
home_xy_position: 150,155
speed: 80.0
z_hop: 10.0
z_hop_speed: 5.0


#[filament_switch_sensor e0_sensor]
#switch_pin: PE4 #ar2
#pause_on_runout: True
#runout_gcode:
#  PAUSE_PARK



[bed_screws]
screw1: 13,38
screw1_name: front left screw
screw2: 268,38
screw2_name: front right screw
screw3: 268,278
screw3_name: rear right screw
screw4: 13,38
screw4_name: rear left screw
horizontal_move_z: 5

#[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.524
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.850
#*# pid_ki = 1.575
#*# pid_kd = 709.444
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.455
#*# pid_ki = 2.424
#*# pid_kd = 115.421
